@import '../abstract/variaveis';

/*---Beginning of header---*/

header {
    width: 100%;
    text-align: center;
    .topbar {
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 100%;
        height: 45px;
        background-color: $primary-color;
        color: $secondary-color;
        font-weight: bold;
        font-size: $text-font-size-1;
    }
    .page-title {
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 157px;
        color: $tertiary-color;
        font-size: $text-font-size-4;
        font-weight: bold;
    }
}


/*---End of header---*/