@import '../abstract/variables';

/*--Beginning of ranking-table--*/

.ranking-table {
    width: 360px;
    margin: 0 auto;
    border-collapse: collapse;
    .ranking-table__row {
        &:nth-child(even) {
            background-color: $bg-color-1;
        }
        &:hover {
            background-color: $tertiary-color;
        }
    }
    .ranking-table__row__header-cell,
    .ranking-table__row__data-cell {
        border: 1px solid $tertiary-color;
        border-left: none;
        border-right: none;
        padding: 10px;
        color: $extra-color-3;
        font-size: $text-font-size-3;
        font-weight: bold;
    }
    .ranking-table__row__header-cell {
        background-color: $extra-color-2;
        color: $secondary-color;
        border-top: none;
        &:first-child {
            border: none;
            border-top-left-radius: 5px;
        }
        &:last-child {
            border-top-right-radius: 5px;
            border: none;
        }
    }
    .ranking-table__row__data-cell {
        text-transform: lowercase;
    }
}


/*--End of ranking-table--*/