// fonts
$main-font: 'montserrat',
sans-serif;
// text sizes
$text-font-size-1: 20px;
$text-font-size-2: 18px;
$text-font-size-3: 16px;
$text-font-size-4: 14px;
// colors
$primary-color: #E41021;
$secondary-color: #FFFFFF;
$tertiary-color: #CCCCCC;
$extra-color-1: #174320;
$extra-color-2: #ED6F7D;
$extra-color-3: #222222;
$bg-color-1: #F7F7F7;
// Values box colors
$values-box-color-1: #E41021;
$values-box-color-2: #FFC75F;
$values-box-color-3: #F0F000;
$values-box-color-4: #90EE90;
$values-box-color-5: #00FF00;