@charset "UTF-8";
/*--Fragmento de reset 
origem: http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)--*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/*--Aplica a fonte em todo o documento, define a cor de fundo e o tamanho mínimo para responsividade--*/
html,
body {
  font-family: "montserrat", sans-serif;
  background-color: #F7F7F7;
  min-width: 500px;
}

/*---Beginning of header---*/
header {
  width: 100%;
  text-align: center;
}
header .topbar {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  height: 45px;
  background-color: #E41021;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
}
header .page-title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 157px;
  color: #CCCCCC;
  font-size: 14px;
  font-weight: bold;
}

/*---End of header---*/
/*---Beginning of main-container---*/
.main-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  min-height: 500px;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  background-color: #FFFFFF;
  padding: 20px 10px;
  text-align: center;
}
.main-container .container-info {
  font-size: 18px;
  font-weight: bold;
  color: #E41021;
  margin-bottom: 35px;
}

/*---End of main-container---*/
/*---Beginning of main-form---*/
.main-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.main-form .main-form__field {
  width: 360px;
  height: 40px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  background-color: #F7F7F7;
}
.main-form .main-form__field::-moz-placeholder {
  color: #CCCCCC;
}
.main-form .main-form__field:-ms-input-placeholder {
  color: #CCCCCC;
}
.main-form .main-form__field::placeholder {
  color: #CCCCCC;
}
.main-form .main-form__button {
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #E41021;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
}
.main-form .main-form__button:hover {
  cursor: pointer;
}

/*---End of main-form---*/
/*--Beginning of generics--*/
.submission-status.success {
  width: 360px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #174320;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 26px;
}

.return-action {
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #E41021;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.export-button {
  width: 87px;
  height: 25px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #E41021;
  margin: 0 auto;
  margin-bottom: 25px;
}
.export-button:hover {
  cursor: pointer;
}

/*--End of generics--*/
/*--Começo do filter-form--*/
.filter-form {
  width: 360px;
  height: 25px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 14px;
}
.filter-form input {
  border: none;
  border-radius: 5px;
  background-color: #F7F7F7;
  color: #222222;
}
.filter-form input:first-child {
  width: 80px;
}
.filter-form input:nth-child(2) {
  width: 80px;
}
.filter-form input:nth-child(3) {
  width: 70px;
}
.filter-form input:nth-child(5) {
  width: 70px;
  background-color: #E41021;
  color: #FFFFFF;
}
.filter-form input:nth-child(5):hover {
  cursor: pointer;
}

/*--Fim do filter-form--*/
/*--Beginning of ranking-table--*/
.ranking-table {
  width: 360px;
  margin: 0 auto;
  border-collapse: collapse;
}
.ranking-table tr:nth-child(even) {
  background-color: #F7F7F7;
}
.ranking-table tr:hover {
  background-color: #CCCCCC;
}
.ranking-table th,
.ranking-table td {
  border: 1px solid #CCCCCC;
  border-left: none;
  border-right: none;
  padding: 10px;
  color: #222222;
  font-size: 16px;
  font-weight: bold;
}
.ranking-table th {
  background-color: #ED6F7D;
  color: #FFFFFF;
  border-top: none;
}
.ranking-table th:first-child {
  border: none;
  border-top-left-radius: 5px;
}
.ranking-table th:last-child {
  border-top-right-radius: 5px;
  border: none;
}

/*--End of ranking-table--*//*# sourceMappingURL=style.css.map */